{% load static %}

{% block content %}
<!-- Sidebar  -->
<nav id="sidebar">
    <div class="sidebar-header">
        <h3>CHECK IT</h3>
    </div>

    <ul class="list-unstyled components">
        <li class="px-2">
            <a href="{% url 'index' %}"><i class="bi bi-bar-chart-fill"></i> Dashboard</a>
        </li>
        <li class="px-2">
            <a href="{% url 'buscar_equipamentos' %}"><i class="bi bi-search"></i></i> Buscar</a>
        </li>
        <li class="px-2">
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Logout</button>
            </form>
        </li>
    </ul>
</nav>
{% endblock %}