{% extends 'base.html' %}

{% load static %}
{% block content %}
<div class="container">
    <div class="mb-4 d-flex justify-content-between align-items-center">
        <h4 class="mb-0">Cadastrar PDA</h4>
        <button class="btn btn-success"><i class="bi bi-file-earmark-bar-graph-fill me-2"></i>Importar Excel</button>
    </div>    

    <!-- Formulário para cadastro de equipamentos -->
    <form method="post" action="{% url 'cadastrar_equipamento' %}">
        {% csrf_token %}
        <div class="mb-3">
            <label for="numeroSerialInput" class="form-label">Número de Série</label>
            <input type="text" name="numeroSerialInput" class="form-control" id="numeroSerialInput">
        </div>
        <div class="mb-3">
            <label for="marcaEquipamentoInput" class="form-label">Marca Equipamento</label>
            <input type="text" name="marcaEquipamentoInput" class="form-control" id="marcaEquipamentoInput">
        </div>
        <div class="mb-3">
            <label for="modeloEquipamentoInput" class="form-label">Modelo Equipamento</label>
            <input type="text" name="modeloEquipamentoInput" class="form-control" id="modeloEquipamentoInput">
        </div>
        <button type="submit" class="btn btn-primary">Salvar</button>
    </form>
</div>
{% endblock %}
