{% extends 'base.html' %}

{% load static %}
{% block content %}

<main class="container mt-5">
    <div class="row">
        <!-- Card 1 -->
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card h-100 card-item p-3">
                <div class="title-item-dashboard">
                    <span class="bg-primary p-3 rounded">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            height="30" stroke="white" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M10.5 1.5H8.25A2.25 2.25 0 0 0 6 3.75v16.5a2.25 2.25 0 0 0 2.25 2.25h7.5A2.25 2.25 0 0 0 18 20.25V3.75a2.25 2.25 0 0 0-2.25-2.25H13.5m-3 0V3h3V1.5m-3 0h3m-3 18.75h3" />
                        </svg>
                    </span>
                </div>
                <div class="data">
                    <span class="fw-bold">Em operação</span>
                    <span class="m-0">500</span>
                </div>
            </div>
        </div>

        <!-- Card 2 -->
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card h-100 card-item p-3">
                <div class="title-item-dashboard">
                    <span class="bg-success p-3 rounded">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            height="30" stroke="white" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M10.5 1.5H8.25A2.25 2.25 0 0 0 6 3.75v16.5a2.25 2.25 0 0 0 2.25 2.25h7.5A2.25 2.25 0 0 0 18 20.25V3.75a2.25 2.25 0 0 0-2.25-2.25H13.5m-3 0V3h3V1.5m-3 0h3m-3 18.75h3" />
                        </svg>
                    </span>
                </div>
                <div class="data">
                    <span class="fw-bold">Disponíveis</span>
                    <span class="m-0">100</span>
                </div>
            </div>
        </div>

        <!-- Card 3 -->
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card h-100 card-item p-3">
                <div class="title-item-dashboard">
                    <span class="bg-warning p-3 rounded">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            height="30" stroke="white" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M10.5 1.5H8.25A2.25 2.25 0 0 0 6 3.75v16.5a2.25 2.25 0 0 0 2.25 2.25h7.5A2.25 2.25 0 0 0 18 20.25V3.75a2.25 2.25 0 0 0-2.25-2.25H13.5m-3 0V3h3V1.5m-3 0h3m-3 18.75h3" />
                        </svg>
                    </span>
                </div>
                <div class="data">
                    <span class="fw-bold">Danificados</span>
                    <span class="m-0">20</span>
                </div>
            </div>
        </div>

        <!-- Card 4 -->
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card h-100 card-item p-3">
                <div class="title-item-dashboard">
                    <span class="bg-danger p-3 rounded">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            height="30" stroke="white" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M10.5 1.5H8.25A2.25 2.25 0 0 0 6 3.75v16.5a2.25 2.25 0 0 0 2.25 2.25h7.5A2.25 2.25 0 0 0 18 20.25V3.75a2.25 2.25 0 0 0-2.25-2.25H13.5m-3 0V3h3V1.5m-3 0h3m-3 18.75h3" />
                        </svg>
                    </span>
                </div>
                <div class="data">
                    <span class="fw-bold">Não devolvidos</span>
                    <span class="m-0">20</span>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-5 p-0 col-12">
        <div class="card-header border-0">
            <h5 class="mb-3">PDA em operação</h5>
        </div>
        <table id="example" class="table table-striped" style="width: 100%; table-layout: fixed;">
            <thead class="table-dark">
                <tr>
                    <th>#</th>
                    <th>Número de Série</th>
                    <th>Modelo</th>
                    <th>Operador</th>
                    <th>Horário Retirada</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for equipamento in equipamentos_data %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ equipamento.serial_number }}</td>
                        <td>{{ equipamento.modelo }}</td>
                        <td>{{ equipamento.usuario }}</td>
                        <td>{{ equipamento.timestamp }}</td>
                        <td>{{ equipamento.status }}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="6" class="text-center">Nenhum equipamento encontrado.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
    
</main>

<script>
    new DataTable('#example');
</script>
{% endblock %}