{% extends 'base.html' %}

{% load static %}
{% block content %}
<div class="container my-5">
    
    <h2>Retirar Equipamento</h2>
    <form action="{% url 'retirar_equipamento' equipamento.id %}" method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label for="numeroSerialInput" class="form-label">Número de Série</label>
            <input type="text" class="form-control" id="numeroSerialInput" name="numero_serial" required value="{{ equipamento.serial_number }}" readonly>
        </div>
        <div class="mb-3">
            <label for="loginUsuarioInput" class="form-label">Login do Colaborador</label>
            <input type="text" class="form-control" id="loginUsuarioInput" name="usuario_login" required>
        </div>
        <button type="submit" class="btn btn-primary">Salvar</button>
    </form>
</div>
{% endblock %}